{% extends "base.html" %}
{% block content %}

<!-- Carousel 
================================================== -->
<div id="home" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#home" data-slide-to="0" class="active"></li>
    <li data-target="#home" data-slide-to="1"></li>
    <li data-target="#home" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <!-- Carousel #1 -->
    <div class="carousel-item active">
      <div><img src="static/img/field.jpg" alt='Field Service' width="100%" height="100%" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"/></div>
      <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Download our 2017 Utilities Performance Scan</h1>
          <p>Every three years, Kearney creates a benchmark among electricity distributors based on ANEEL data. Download it here</p>
          <p><a class="btn btn-lg btn-dark" href="#" role="button">Download</a></p>
        </div>
      </div>
    </div>
    <!-- Carousel #2 -->
    <div class="carousel-item">
      <div><img src="static/img/maint.jpg" alt='Maintenance' width="100%" height="100%" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"/></div>
      <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
      <div class="container">
        <div class="carousel-caption">
          <h1>News 1</h1>
          <p>Notícias sobre o setor elétrico - Colocar aqui headline principal da notícia com resumo. Link guiará para página da notícia (link externo)</p>
          <p><a class="btn btn-lg btn-dark" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <!-- Carousel #3 -->
    <div class="carousel-item">
      <div><img src="static/img/metering.jpg" alt='Metering' width="100%" height="100%" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"/></div>
      <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg> -->
      <div class="container">
        <div class="carousel-caption text-right">
          <h1>One more for good measure.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-dark" href="#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#home" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#home" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Use Cases
================================================== -->      

<div class="album pt-4" id="usecases">
  <div class="container">
    <h2 id="usecases" class="title">Use Cases</h2>
    <hr />
    <h3 id="baddebts" class="title pb-4">Bad Debts</h3>
    <div class="row">

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div><img src='static/img/usecase1.jpg' class="img-responsive" height="225" width="100%" preserveAspectRatio="xMidyMid slice"/></div>
          <div class="card-body">
            <h4 class="card-title">Statistical models for client default</h4>
            <p class="card-text">Kearney has a proprietary model to predict client default and return of dunning tool</p>
            <br />
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{url_for('usecase', number=1, name='Statistical models for client default')}}" type="button" class="btn btn-md btn-outline-secondary">View</a>
              </div>
              <small class="text-muted">2 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div><img src='static/img/usecase2.jpg' width="100%" height="225"/></div>
          <div class="card-body">
            <h4 class="card-title">Geospatial model of debtors and dispatch</h4>
            <p class="card-text">Kearney developed another proprietary model for the dispatch of dunning actions to field teams, aiming to maximize revenue while matching real constraints</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{url_for('usecase', number=2, name='Geospatial model of debtors and dispatch')}}" type="button" class="btn btn-md btn-outline-secondary">View</a>
              </div>
              <small class="text-muted">2 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div><img src='static/img/usecase3.jpg' width="100%" height="225"/></div>
          <div class="card-body">
            <h4 class="card-title">Prescriptive model for inspection</h4>
            <p class="card-text">The model of inspections of executed disconnections prioritize according to the probability of clients’ wrongdoing</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{url_for('usecase', number=3, name='Prescriptive model for inspection')}}" type="button" class="btn btn-md btn-outline-secondary">View</a>
              </div>
              <small class="text-muted">2 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div><img src='static/img/usecase4.jpg' class="img-responsive" width="100%" height="225" preserveAspectRatio="xMidyMid slice"/></div>
          <div class="card-body">
            <h4 class="card-title">Daily tracking digital solution</h4>
            <p class="card-text">Our dashboards can monitor the operation daily with several levels of detail, KPIs and time periods</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{url_for('usecase', number=2, name='Daily tracking digital solution')}}" type="button" class="btn btn-md btn-outline-secondary">View</a>
              </div>
              <small class="text-muted">2 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-md btn-outline-secondary">View</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-md btn-outline-secondary">View</button>
              </div>
              <small class="text-muted">9 mins</small>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div id="team" class="container marketing pt-4">

  <!-- Three columns of text below the carousel -->
  <h2 class="marketing-title">Meet the Team</h2>
  <div class="row">
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      <h3>Cláudio Gonçalves</h3>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      <h3>Rubens Ferreira</h3>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      <h3>Sebastião Pinho</h3>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" id="technologies">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Unleash the predictive power of <span class="text-muted">Machine Learning.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <div>
        <img src='static/img/ai.jpg' alt='Artificial Intelligence' width="100%" height="100%" preserveAspectRatio="xMidYMid slice"  />
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Visualize everything in <span class="text-muted">maps.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src='static/img/fleet.png' alt='Fleet' width="100%" height="100%" preserveAspectRatio="xMidYMid slice"  />
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Your data integrated from all important IT systems.<span class="text-muted">Use your Big Data.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-md-5">
      <img src='static/img/data.jpg' alt='Fleet' width="100%" height="100%" preserveAspectRatio="xMidYMid slice"  />
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

<div class="ups pt-4" id="ups">
  <div class="container">
    <h2 class="ups-title">Utilities Performance Scan</h2>
    <p class="ups-content">
      O “2017 Utilities Performance Scan” contempla a análise do desempenho das 27 grandes Distribuidoras no ano fiscal de 2017. Esse ano o estudo conta com a novidade de ter uma evolução dos indicadores no período 2015-2017.
      
      A elaboração desse estudo exigiu a coleta, tratamento, padronizaçãp e análise de milhares de dados de todos os relatórios anuais das empresas e relatórios das revisões e reajustes tarifários da ANEEL. Foi realizado de forma independente e sem acesso a executivos das empresas.
    </p>
    <p><a href="/static/pdf/UPS_ATKearney.pdf" download class="btn btn-lg btn-light" role="button"><svg class="bi bi-download" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/><path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/><path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/></svg> Download Now</a>
    </p>
    <br />
  </div>
</div>

{% endblock %}
      